#body
  background-color black

#home-section, #about-section, #contact-section, #portfolio-section
  height 1000px

#home-section
  background-color red

#about-section
  background-color green

#contact-section
  background-color blue

#portfolio-section
  background-color yellow

#container
  margin-top 50px
  padding-left 0
  padding-right 0

#right-nav
  margin-right 50px
