.header
  background-color rgba(192, 192, 192, 0.5)
  height: 50px

.homepage-btn
  background-color rgb(25, 0, 0, 0)
  height 48px

.vertical-center
  min-height 100%
  align-items center
  display flex
