#body
  background-color black

#home-section, #about-section, #contact-section, #portfolio-section
  height 750px

#home-section
  background-color red

#about-section
  background-color green

#contact-section
  background-color blue

#portfolio-section
  background-color yellow

#container
  margin-top 50px

#right-nav
  margin-right 50px

#main-info
  margin-top: 10%

#contact-bar
  margin-top 5%

#business-title
  font-family monospace
