#body {
  background-color: #000;
}
#home-section,
#about-section,
#contact-section,
#portfolio-section {
  height: 750px;
}
#home-section {
  background-color: #f00;
}
#about-section {
  background-color: #008000;
}
#contact-section {
  background-color: #00f;
}
#portfolio-section {
  background-color: #ff0;
}
#container {
  margin-top: 50px;
}
#right-nav {
  margin-right: 50px;
}
#main-info {
  margin-top: 10%;
}
#contact-bar {
  margin-top: 5%;
}
#business-title {
  font-family: monospace;
}
