html
	head
		link(href=".\stylesheets\main.css", rel="stylesheet")
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", rel="stylesheet")
	body
		div.container-fluid
			div.navbar.navbar-default
				div.navbar-header
					button(type='button', class="navbar-toggle collapsed" data-toggle="collapse", data-target="#bs-examplenavbar-collapse-1", aria-expanded="false")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a(class="navbar-brand", href="#") Kosan Nicholas
					
				div#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav.navbar-right
						li
							a(href="#") Home
						li
							a(href="#") About
						li
							a(href="#") Portfolio
						li
							a(href="#") Contact

			div.main
				
			div.footer
